<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>新建寻亲项目</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>

<style>
    .article {
        background-color: azure;
        width: 1200px;
        height: 100px;
        margin-top: 20px;
        margin-left: 100px;
    }
</style>

<body>
<!--<a href="http://localhost:8080/publish">我的发布</a>-->
<!--<a href="http://localhost:8080/attention">我的关注</a>-->
<!--<a href="http://localhost:8080/myClue">我的线索</a>-->

<div>
    <form th:action="@{/addPublish}" method="post" enctype="multipart/form-data">
        <table border="1" style="height:200px;width:400px">
            <tr>
                <td >标题:</td>
                <td>
                    <input id="title" name="title" type="text" placeholder="用户名" />
                </td>
            </tr>
            <tr>
                <td>性别:</td>
                <td>
                    <input id="category" name="category" type="text" placeholder="性别" aria-describedby="basic-addon2" />
                </td>
            </tr>
            <tr>
                <td >描述:</td>
                <td>
                    <input id="detail" name="detail" type="text" placeholder="描述" />
                </td>
            </tr>
            <tr>
                <td >图片:</td>
                <td>
                    <input id="image" name="file" type="file" placeholder="图片" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" style="width:50px;">上传</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>